@import './../../App.module.scss';

.Item {
  border: 1px solid	#dfe3ee;
  border-radius: 5px;
  padding: 5px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3C5898;
  color: #fff;
  &:not(:last-child) {
    margin-bottom: 7px;
  }
  &:hover {
    background-color: #29487D;
  }
  &.done {
    background-color: #9CB2CE;
  }
  &.hidden {
    display: none;
  }

  & div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
  }

  & button {
    @include btn;
  }
}

